<!DOCTYPE HTML>
<html>
  <head>
    <title>ClouDe</title>
    <script src="node_modules/angular/lib/angular.min.js"></script>
    <script>
      var ClouDe = angular.module( 'ClouDe', [] );
      console.log( ClouDe );

      var Ctl = ClouDe.controller( 'Ctl', [ '$scope', '$http', function( $scope, $http ){

          $scope.getSourceFiles = function( cb ){
            $http.get( '/files' ).then( function(response) {
               $scope.sourceFiles = response.data;

               cb( $scope.sourceFiles);
            });
          }


          $scope.openFile = function( file ){
            $http.get( '/file/' + file ).then( function(response){
              $scope.sourceFile = response.data;
            });
          }


          $scope.save = function(){
            $http.post( '/file', $scope.sourceFile );
          }

          $scope.getSourceFiles( function( files ){
            $scope.openFile( files[0] ); 
          });

      }]);


      console.log( Ctl );


    </script>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/site.css" />

  </head>
  <body ng-app="ClouDe" ng-controller="Ctl">
    <div class="action-bar">

    </div>

    <br class="clear" />
    <ul class="source-file-listing">
      <li ng-repeat="sf in sourceFiles">
          <a ng-click="openFile( sf )">{{sf}}</a>
      </li>
    </ul>


    <div class="editor-area">
      <textarea ng-blur="save()" ng-model="sourceFile.source" ></textarea>
    </div>
  </body>

</html>
