<!DOCTYPE HTML>
<html>
  <head>
    <title>ClouDe</title>
    <script src="node_modules/angular/lib/angular.min.js"></script>
    <script src="node_modules/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="app.js"> </script>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/site.css" />

  </head>
  <body ng-app="ClouDe" ng-controller="Ctl">
    <div class="action-bar">
        <div class="btn btn-primary" ng-click="openNewFileWizard()">New File</div>
        <div class="btn btn-primary" ng-click="build()">Build</div>
    </div>
    

    <br class="clear" />
    <ul class="source-file-listing">
      <li ng-repeat="sf in sourceFiles">
          <a ng-click="openFile( sf )">{{sf}}</a>
      </li>
    </ul>


    <div class="editor-area">
      <textarea ng-blur="save()" ng-model="sourceFile.source" ></textarea>
      <div class="error-stream">
        <tabset>
          <tab heading="Errors">
            <li ng-repeat="err in compileErrors">
              {{err.message}} at line {{err.line}}
            </li> 
          </tab>
        </tabset>
      </div>
    </div>
  </body>
</html>
